* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #fff;
  color: #231f20;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  height: auto;
  min-height: 100vh;
  width: 100%;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body ul,
body li,
body div,
body input,
body button,
body span {
  font-family: 'Montserrat', sans-serif;
}

.main-logo {
  display: inline-block;
  font-size: 1.5rem;
  position: relative;
}

.main-logo a {
  color: #231f20;
  text-decoration: none;
}

.main-logo a .first-line,
.main-logo a .second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-weight: 600;
}

.main-logo a .first-line span,
.main-logo a .second-line span {
  display: inline-block;
  font-size: 1em;
  height: 0.9em;
  margin-bottom: 0.1em;
  text-align: center;
  width: 1.25em;
}

.main-logo a .first-line span .triangle,
.main-logo a .second-line span .triangle {
  border-bottom: 0.75em solid #ffa520;
  border-left: 0.45em solid transparent;
  border-right: 0.45em solid transparent;
  height: 0;
  margin: 0.2em auto 0;
  width: 0;
}

.main-logo a .first-line span .rectangle,
.main-logo a .second-line span .rectangle {
  background: #0068aa;
  height: 0.75em;
  margin: 0.2em auto 0;
  width: 0.4em;
}

.main-logo a .second-line span .square {
  height: 0.75em;
  margin: 0.2em auto 0;
  width: 0.75em;
}

.main-logo a .second-line span:nth-of-type(3) .square {
  background: #ce3434;
}

.main-logo a .second-line span:nth-of-type(4) .square {
  background: #0068aa;
}

.main-logo a .second-line span:nth-of-type(6) .square {
  background: #ffa520;
}

.button, .button--secondary, .button--danger {
  background: #231f20;
  border: 3px solid #231f20;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin: 0.25rem;
  overflow: hidden;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  width: 8rem;
  position: relative;
}

.button:hover, .button--secondary:hover, .button--danger:hover {
  background: #fff;
  color: #231f20;
}

.button--secondary {
  color: #231f20;
  background: #fff;
}

.button--secondary:hover {
  color: #fff;
  background: #231f20;
}

.button--danger {
  background: #ce3434;
  border: 3px solid #ce3434;
}

.button--danger:hover {
  color: #ce3434;
  background: #fff;
}

.social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  width: 20rem;
}

.social-media-links .social-link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.social-media-links .social-link img {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  width: 2.5rem;
}

.social-media-links .social-link img:hover {
  opacity: 0.8;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes color-change {
  0% {
    background: #ffa520;
  }
  4% {
    background: #ffa520;
  }
  33% {
    background: #0068aa;
  }
  39% {
    background: #0068aa;
  }
  66% {
    background: #ce3434;
  }
  72% {
    background: #ce3434;
  }
  100% {
    background: #ffa520;
  }
}

@keyframes color-change {
  0% {
    background: #ffa520;
  }
  4% {
    background: #ffa520;
  }
  33% {
    background: #0068aa;
  }
  39% {
    background: #0068aa;
  }
  66% {
    background: #ce3434;
  }
  72% {
    background: #ce3434;
  }
  100% {
    background: #ffa520;
  }
}

.spinner-wrapper {
  height: 5rem;
  position: absolute;
  width: 5rem;
}

.spinner-wrapper .spinner-border {
  border: 0.5rem solid #231f20;
  border-radius: 100%;
  height: 5rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 5rem;
}

.spinner-wrapper .spinner-border .spinner-arm {
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
  height: 4rem;
  left: 1.5rem;
  position: relative;
  top: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  width: 1rem;
}

.spinner-wrapper .spinner-border .spinner-arm .spinner-ball {
  -webkit-animation: color-change 6s infinite linear;
          animation: color-change 6s infinite linear;
  background: #ffa520;
  border-radius: 100%;
  height: 1.5rem;
  left: 0;
  position: absolute;
  top: 0.25rem;
  width: 1.5rem;
}

#splash-page {
  background: #fff;
  height: 100vh;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  width: 100%;
  z-index: 20;
}

@-webkit-keyframes top-block-fall {
  0% {
    opacity: 0;
    top: -196.005px;
  }
  50% {
    opacity: 1;
    top: 10px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes top-block-fall {
  0% {
    opacity: 0;
    top: -196.005px;
  }
  50% {
    opacity: 1;
    top: 10px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes bottom-block-fall {
  0% {
    bottom: 196.005px;
    opacity: 0;
  }
  50% {
    bottom: -10px;
    opacity: 1;
  }
  100% {
    bottom: 5px;
    opacity: 1;
  }
}

@keyframes bottom-block-fall {
  0% {
    bottom: 196.005px;
    opacity: 0;
  }
  50% {
    bottom: -10px;
    opacity: 1;
  }
  100% {
    bottom: 5px;
    opacity: 1;
  }
}

@-webkit-keyframes left-diamond-slide {
  0% {
    left: 66.29px;
    top: 350px;
  }
  100% {
    left: 66.5px;
    top: 56px;
  }
}

@keyframes left-diamond-slide {
  0% {
    left: 66.29px;
    top: 350px;
  }
  100% {
    left: 66.5px;
    top: 56px;
  }
}

@-webkit-keyframes right-diamond-slide {
  0% {
    left: 199.901px;
    top: -350px;
  }
  100% {
    left: 199.15px;
    top: 12.048px;
  }
}

@keyframes right-diamond-slide {
  0% {
    left: 199.901px;
    top: -350px;
  }
  100% {
    left: 199.15px;
    top: 12.048px;
  }
}

@-webkit-keyframes rotate-logo {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(190deg);
            transform: rotate(190deg);
  }
  30% {
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg);
  }
  45% {
    -webkit-transform: rotate(185deg);
            transform: rotate(185deg);
  }
  60% {
    -webkit-transform: rotate(175deg);
            transform: rotate(175deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes rotate-logo {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(190deg);
            transform: rotate(190deg);
  }
  30% {
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg);
  }
  45% {
    -webkit-transform: rotate(185deg);
            transform: rotate(185deg);
  }
  60% {
    -webkit-transform: rotate(175deg);
            transform: rotate(175deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

#splash-page #animated-logo-wrapper {
  height: 400px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 30%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 400px;
  z-index: 1;
}

#splash-page #animated-logo-wrapper .animation-wrapper {
  -webkit-animation-delay: 5.25s;
          animation-delay: 5.25s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  height: 103.995px;
  margin: 196.005px 50px 0;
  position: absolute;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  width: 300px;
}

#splash-page #animated-logo-wrapper .animation-wrapper .logo-black-uprights div {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  background: #231f20;
  height: 103.995px;
  opacity: 0;
  position: absolute;
  top: -196.005px;
  width: 34.799px;
  z-index: 3;
}

#splash-page #animated-logo-wrapper .animation-wrapper .logo-black-uprights div:nth-of-type(1) {
  left: 0;
}

#splash-page #animated-logo-wrapper .animation-wrapper .logo-black-uprights div:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  left: 132.601px;
}

#splash-page #animated-logo-wrapper .animation-wrapper .logo-black-uprights div:nth-of-type(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  left: 265.201px;
}

#splash-page #animated-logo-wrapper .animation-wrapper .logo-angles-ne div {
  height: 69.196px;
  position: absolute;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 34.799px;
}

#splash-page #animated-logo-wrapper .animation-wrapper .logo-angles-ne div:nth-of-type(1) {
  -webkit-animation-delay: 2.75s;
          animation-delay: 2.75s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  background: #ce3434;
  left: 132.601px;
  opacity: 0;
  top: -196.005px;
}

#splash-page #animated-logo-wrapper .animation-wrapper .logo-angles-ne div:nth-of-type(2) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  background: #ffa520;
  bottom: 196.005px;
  opacity: 0;
  left: 191.694px;
}

#splash-page #animated-logo-wrapper .animation-wrapper .logo-angles-nw div {
  background: #0068aa;
  height: 69.196px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 34.799px;
  position: absolute;
}

#splash-page #animated-logo-wrapper .animation-wrapper .logo-angles-nw div:nth-of-type(1) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  left: 0.5px;
  opacity: 0;
  top: -196.5px;
}

#splash-page #animated-logo-wrapper .animation-wrapper .logo-angles-nw div:nth-of-type(2) {
  -webkit-animation-delay: 3.25s;
          animation-delay: 3.25s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  bottom: 196.005px;
  left: 206.127px;
  opacity: 0;
}

#splash-page #animated-logo-wrapper .animation-wrapper .logo-diamonds div {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  height: 34.799px;
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 34.799px;
}

#splash-page #animated-logo-wrapper .animation-wrapper .logo-diamonds div:nth-of-type(1) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  background: #ffa520;
  left: 66.29px;
  top: 350px;
}

#splash-page #animated-logo-wrapper .animation-wrapper .logo-diamonds div:nth-of-type(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  background: #ce3434;
  left: 199.901px;
  top: -350px;
}

@-webkit-keyframes slide-up-and-color {
  from {
    -webkit-filter: saturate(0);
            filter: saturate(0);
    top: 68%;
  }
  to {
    -webkit-filter: none;
            filter: none;
    top: 55%;
  }
}

@keyframes slide-up-and-color {
  from {
    -webkit-filter: saturate(0);
            filter: saturate(0);
    top: 68%;
  }
  to {
    -webkit-filter: none;
            filter: none;
    top: 55%;
  }
}

#splash-page .main-logo {
  -webkit-animation-delay: 6.25s;
          animation-delay: 6.25s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-filter: saturate(0);
          filter: saturate(0);
  left: 50%;
  position: absolute;
  top: 68%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

header {
  background: #fff;
  height: 5.2rem;
  left: 0;
  padding: 1rem;
  top: 0;
  width: 100%;
  z-index: 15;
  position: -webkit-sticky;
  position: sticky;
}

header .header-background {
  background: #fff;
  height: inherit;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  position: absolute;
}

header .main-logo {
  display: inline-block;
  z-index: 1;
  position: relative;
}

header .hamburger-wrapper {
  height: auto;
  right: 1rem;
  top: 1.3rem;
  width: 2.5rem;
  position: absolute;
}

header .hamburger-wrapper .hamburger, header .hamburger-wrapper .hamburger--open {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'span1 span1 span1' 'span2 redspan span3' 'span4 span4 span4';
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  height: 2rem;
  width: 2.5rem;
  z-index: 1;
  position: absolute;
}

header .hamburger-wrapper .hamburger span, header .hamburger-wrapper .hamburger--open span {
  background: #231f20;
  height: 0.25rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .hamburger-wrapper .hamburger span:nth-of-type(1), header .hamburger-wrapper .hamburger--open span:nth-of-type(1), header .hamburger-wrapper .hamburger span:nth-of-type(4), header .hamburger-wrapper .hamburger--open span:nth-of-type(4) {
  width: 2.5rem;
}

header .hamburger-wrapper .hamburger span:nth-of-type(2), header .hamburger-wrapper .hamburger--open span:nth-of-type(2), header .hamburger-wrapper .hamburger span:nth-of-type(3), header .hamburger-wrapper .hamburger--open span:nth-of-type(3) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 0.5rem;
}

header .hamburger-wrapper .hamburger span:nth-of-type(1), header .hamburger-wrapper .hamburger--open span:nth-of-type(1) {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: span1;
  -webkit-transform-origin: left;
          transform-origin: left;
}

header .hamburger-wrapper .hamburger span:nth-of-type(2), header .hamburger-wrapper .hamburger--open span:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: span2;
}

header .hamburger-wrapper .hamburger span:nth-of-type(3), header .hamburger-wrapper .hamburger--open span:nth-of-type(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: span3;
  -ms-grid-column-align: right;
      justify-self: right;
}

header .hamburger-wrapper .hamburger span:nth-of-type(4), header .hamburger-wrapper .hamburger--open span:nth-of-type(4) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: span4;
  -webkit-transform-origin: left;
          transform-origin: left;
}

header .hamburger-wrapper .hamburger span:nth-of-type(5), header .hamburger-wrapper .hamburger--open span:nth-of-type(5) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: redspan;
  background: #ce3434;
}

header .hamburger-wrapper .hamburger--open span:nth-of-type(2), header .hamburger-wrapper .hamburger--open span:nth-of-type(3), header .hamburger-wrapper .hamburger--open span:nth-of-type(5) {
  opacity: 0;
}

header .hamburger-wrapper .hamburger--open span:nth-of-type(1), header .hamburger-wrapper .hamburger--open span:nth-of-type(4) {
  background: #ce3434;
  margin-left: 0.4rem;
}

header .hamburger-wrapper .hamburger--open span:nth-of-type(1) {
  margin-left: 0.4rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .hamburger-wrapper .hamburger--open span:nth-of-type(4) {
  margin-left: 0.4rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 1280px) {
  header .hamburger-wrapper {
    display: none;
  }
}

header .main-nav, header .main-nav--open {
  background: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  height: calc(100vh - 5.2rem);
  left: 0;
  padding: 2rem 1rem;
  position: fixed;
  row-gap: 1rem;
  top: -150vh;
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  width: 100%;
  z-index: 0;
}

header .main-nav--open {
  top: 5.2rem;
}

header .main-nav ul, header .main-nav--open ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  list-style-type: none;
  width: 100%;
  z-index: 0;
}

header .main-nav ul li, header .main-nav--open ul li {
  height: 4rem;
  text-align: center;
}

header .main-nav ul li a, header .main-nav--open ul li a {
  color: #231f20;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 4rem;
  position: relative;
  text-decoration: none;
}

header .main-nav ul li a::after, header .main-nav--open ul li a::after {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  width: 0;
  z-index: -1;
}

header .main-nav ul li a:hover::after, header .main-nav--open ul li a:hover::after {
  width: 100%;
}

header .main-nav ul li:nth-of-type(3n) a::after, header .main-nav--open ul li:nth-of-type(3n) a::after {
  border-bottom: 0.5rem solid #ce3434;
}

header .main-nav ul li:nth-of-type(3n - 1) a::after, header .main-nav--open ul li:nth-of-type(3n - 1) a::after {
  border-bottom: 0.5rem solid #ffa520;
}

header .main-nav ul li:nth-of-type(3n - 2) a::after, header .main-nav--open ul li:nth-of-type(3n - 2) a::after {
  border-bottom: 0.5rem solid #0068aa;
}

header .main-nav .short-logo, header .main-nav--open .short-logo {
  display: none;
  margin: 0 auto;
  width: 10rem;
}

@media (min-width: 1280px) {
  header .main-nav, header .main-nav--open {
    display: block;
    height: 4rem;
    left: 50%;
    padding: 0;
    position: fixed;
    top: 0;
    width: 50%;
    z-index: 5;
  }
  header .main-nav .social-media-links, header .main-nav--open .social-media-links {
    display: none;
  }
  header .main-nav ul, header .main-nav--open ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .main-nav ul li, header .main-nav--open ul li {
    height: auto;
    padding-top: 3rem;
  }
  header .main-nav ul li a, header .main-nav--open ul li a {
    line-height: 1rem;
  }
}

@media (min-width: 1280px) {
  header .main-nav, header .main-nav--open {
    width: 40%;
    left: 60%;
  }
}

main {
  height: auto;
  width: 100%;
}

main section {
  min-height: 50vh;
  padding-top: 4.5rem;
  width: 100%;
}

main section .section-title {
  border: 3px solid #231f20;
  border-left: none;
  border-top: none;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  height: 3rem;
  letter-spacing: 0.1em;
  line-height: 3rem;
  margin: 3rem 0 2rem;
  max-width: 100%;
  padding-left: 5rem;
  padding-right: 1rem;
  position: relative;
  text-align: right;
}

main section .section-title::after {
  border: 3px solid #231f20;
  border-bottom: none;
  bottom: 0;
  content: '';
  height: 2.5rem;
  left: 1rem;
  position: absolute;
  width: 2.5rem;
}

@media (min-width: 700px) {
  main section .section-title {
    padding-left: calc(20% + 2rem);
  }
  main section .section-title::after {
    left: calc(20% + 2.5rem);
  }
}

@media (min-width: 1280px) {
  main section .section-title::after {
    left: 40%;
  }
}

@media (min-width: 1600px) {
  main section .section-title::after {
    left: 50%;
  }
}

main section .section-intro p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5em;
  margin: 1rem 2rem;
  text-align: center;
  width: calc(100% - 4rem);
}

main section .section-intro p a {
  color: #ce3434;
}

@media (min-width: 700px) {
  main section .section-intro {
    margin-left: 20%;
    width: 60%;
  }
}

main section:nth-of-type(3n) .section-title::after {
  background: #ce3434;
}

main section:nth-of-type(3n - 1) .section-title::after {
  background: #0068aa;
}

main section:nth-of-type(3n - 2) .section-title::after {
  background: #ffa520;
}

main #about {
  padding-top: 2rem;
}

main #about .portfolio-intro-container {
  min-height: 50vh;
}

main #about .portfolio-intro-container .about-photo-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  height: 20rem;
  margin-left: 50%;
  overflow: hidden;
  position: relative;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 17rem;
}

main #about .portfolio-intro-container .about-photo-grid .photo {
  -webkit-filter: saturate(0);
          filter: saturate(0);
  left: 0;
  position: absolute;
  top: -20%;
  width: 100%;
  z-index: -1;
}

main #about .portfolio-intro-container .about-photo-grid .photo-block {
  background: transparent;
  border: 3px solid #231f20;
  height: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 100%;
}

main #about .portfolio-intro-container .about-photo-grid .photo-block:nth-of-type(1) {
  border-bottom: none;
  border-right: none;
}

main #about .portfolio-intro-container .about-photo-grid .photo-block:nth-of-type(2) {
  border-right: none;
  border-bottom: none;
}

main #about .portfolio-intro-container .about-photo-grid .photo-block:nth-of-type(3) {
  border-bottom: none;
}

main #about .portfolio-intro-container .about-photo-grid .photo-block:nth-of-type(4) {
  border-right: none;
  border-bottom: none;
}

main #about .portfolio-intro-container .about-photo-grid .photo-block:nth-of-type(5) {
  border-bottom: none;
  border-right: none;
}

main #about .portfolio-intro-container .about-photo-grid .photo-block:nth-of-type(6) {
  background: #fff;
  border-right: none;
  border-bottom: none;
}

main #about .portfolio-intro-container .about-photo-grid .photo-block:nth-of-type(7) {
  background: #fff;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

main #about .portfolio-intro-container .about-photo-grid .photo-block:nth-of-type(8) {
  border-right: none;
}

@-webkit-keyframes rotate-flip-layer {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  30% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  70% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  95% {
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotate-flip-layer {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  30% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  70% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  95% {
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

main #about .portfolio-intro-container .about-photo-grid .photo-block .flip-layer {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: rotate-flip-layer;
          animation-name: rotate-flip-layer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: #ce3434;
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  height: 100%;
  line-height: 6.4rem;
  text-align: center;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  width: 100%;
}

main #about .portfolio-intro-container .about-photo-grid .photo-block:nth-of-type(1) .flip-layer {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

main #about .portfolio-intro-container .about-photo-grid .photo-block:nth-of-type(2) .flip-layer {
  -webkit-animation-duration: 3.2s;
          animation-duration: 3.2s;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

main #about .portfolio-intro-container .about-photo-grid .photo-block:nth-of-type(3) .flip-layer {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

main #about .portfolio-intro-container .about-photo-grid .photo-block:nth-of-type(4) .flip-layer {
  -webkit-animation-duration: 2.8s;
          animation-duration: 2.8s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

main #about .portfolio-intro-container .about-photo-grid .photo-block:nth-of-type(5) .flip-layer {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

main #about .portfolio-intro-container .about-photo-grid .photo-block:nth-of-type(8) .flip-layer {
  -webkit-animation-duration: 2.7s;
          animation-duration: 2.7s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

main #about .portfolio-intro-container .about-photo-grid .photo-block:nth-of-type(9) .flip-layer {
  -webkit-animation-duration: 3.3s;
          animation-duration: 3.3s;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

main #about .section-intro:last-of-type p {
  text-align: justify;
}

@media (min-width: 700px) and (min-height: 980px) and (max-width: 1024px) {
  main #about .portfolio-intro-container {
    min-height: 32rem;
    padding-bottom: 5rem;
  }
  main #about .portfolio-intro-container .about-photo-grid {
    width: 25rem;
    height: 30rem;
  }
  main #about .portfolio-intro-container .about-photo-grid .photo-block .flip-layer {
    line-height: 9.5rem;
  }
}

@media (min-width: 1280px) {
  main #about .portfolio-intro-container {
    height: 60vh;
    min-height: 35rem;
  }
  main #about .portfolio-intro-container .about-photo-grid {
    height: 31rem;
    margin-bottom: 4rem;
    width: 25.5rem;
  }
  main #about .portfolio-intro-container .about-photo-grid .photo-block .flip-layer {
    line-height: 10rem;
  }
  main #about .section-intro:first-of-type {
    margin-left: 30%;
    padding-bottom: 3rem;
    width: 40%;
  }
}

main #skills .skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 20%;
}

main #skills .skills-container .skill-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  margin: 1rem 0;
  width: 49%;
}

main #skills .skills-container .skill-container img {
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0 0 0.5rem;
  width: 4rem;
}

main #skills .skills-container .skill-container p {
  color: #555;
  text-align: center;
}

@media (min-width: 700px) {
  main #skills .skills-container .skill-container {
    width: 30%;
  }
}

main #projects .scroll-buttons {
  margin-top: 3rem;
  text-align: center;
}

main #projects .click-tap {
  text-align: center;
  margin: 3rem 0 0;
}

main #projects #project-cards-container {
  overflow: hidden;
  padding-right: 1rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  position: relative;
  scroll-behavior: smooth;
  height: calc(100vh - 9rem);
  white-space: nowrap;
}

main #projects #project-cards-container .project-card-wrapper, main #projects #project-cards-container .project-card-wrapper--open {
  cursor: pointer;
  display: inline-block;
  height: 75%;
  margin: 0 0.5rem;
  overflow: hidden;
  position: relative;
  top: 5%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 50%;
}

main #projects #project-cards-container .project-card-wrapper:first-of-type, main #projects #project-cards-container .project-card-wrapper--open:first-of-type {
  margin-left: 0;
}

main #projects #project-cards-container .project-card-wrapper:not(:first-of-type), main #projects #project-cards-container .project-card-wrapper--open:not(:first-of-type) {
  -webkit-transform: rotateY(-50deg);
          transform: rotateY(-50deg);
}

main #projects #project-cards-container .project-card-wrapper:last-of-type, main #projects #project-cards-container .project-card-wrapper--open:last-of-type {
  margin-right: 50%;
}

main #projects #project-cards-container .project-card-wrapper:nth-of-type(3n - 2) .project-card, main #projects #project-cards-container .project-card-wrapper--open:nth-of-type(3n - 2) .project-card {
  background: #ce3434;
}

main #projects #project-cards-container .project-card-wrapper:nth-of-type(3n - 1) .project-card, main #projects #project-cards-container .project-card-wrapper--open:nth-of-type(3n - 1) .project-card {
  background: #0068aa;
}

main #projects #project-cards-container .project-card-wrapper:nth-of-type(3n) .project-card, main #projects #project-cards-container .project-card-wrapper--open:nth-of-type(3n) .project-card {
  background: #ffa520;
}

main #projects #project-cards-container .project-card-wrapper .project-card, main #projects #project-cards-container .project-card-wrapper--open .project-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto auto;
      grid-template-rows: auto 1fr auto auto;
  height: 100%;
  padding: 0.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: 2;
}

main #projects #project-cards-container .project-card-wrapper .project-card:last-of-type, main #projects #project-cards-container .project-card-wrapper--open .project-card:last-of-type {
  margin-right: 50%;
}

main #projects #project-cards-container .project-card-wrapper .project-card .project-number, main #projects #project-cards-container .project-card-wrapper--open .project-card .project-number {
  color: #fff;
  font-size: 5rem;
  font-weight: 500;
  -webkit-transition: font-size 0.2s ease-in-out;
  transition: font-size 0.2s ease-in-out;
}

main #projects #project-cards-container .project-card-wrapper .project-card .project-title, main #projects #project-cards-container .project-card-wrapper--open .project-card .project-title {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.5em;
  text-transform: uppercase;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: margin 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: margin 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, margin 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, margin 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  white-space: normal;
  width: 9rem;
}

main #projects #project-cards-container .project-card-wrapper .project-card .project-type, main #projects #project-cards-container .project-card-wrapper--open .project-card .project-type {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5em;
  padding-right: 100%;
  padding-right: 100%;
  text-transform: capitalize;
  white-space: normal;
  width: 9rem;
}

main #projects #project-cards-container .project-card-wrapper .project-details, main #projects #project-cards-container .project-card-wrapper--open .project-details {
  background: #fff;
  cursor: default;
  height: 100%;
  left: 25%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1rem 0;
  position: absolute;
  top: 0;
  white-space: normal;
  width: 75%;
  z-index: -1;
}

main #projects #project-cards-container .project-card-wrapper .project-details .project-logo, main #projects #project-cards-container .project-card-wrapper--open .project-details .project-logo {
  display: block;
  margin: 0 auto 2rem;
  width: 8rem;
}

main #projects #project-cards-container .project-card-wrapper .project-details .project-screenshot-wrapper, main #projects #project-cards-container .project-card-wrapper--open .project-details .project-screenshot-wrapper {
  display: none;
}

main #projects #project-cards-container .project-card-wrapper .project-details h3, main #projects #project-cards-container .project-card-wrapper--open .project-details h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 3em;
  padding: 0 1rem;
  text-transform: uppercase;
}

main #projects #project-cards-container .project-card-wrapper .project-details .project-text, main #projects #project-cards-container .project-card-wrapper--open .project-details .project-text {
  padding: 0 1rem 1.5em;
}

main #projects #project-cards-container .project-card-wrapper .project-details .project-text p, main #projects #project-cards-container .project-card-wrapper--open .project-details .project-text p {
  font-size: 1rem;
  line-height: 1.5em;
  padding-bottom: 1.5em;
  text-align: justify;
}

main #projects #project-cards-container .project-card-wrapper .project-details .created-with, main #projects #project-cards-container .project-card-wrapper--open .project-details .created-with {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-bottom: 3rem;
  padding: 0 1rem 1.5em;
}

main #projects #project-cards-container .project-card-wrapper .project-details .created-with h3, main #projects #project-cards-container .project-card-wrapper--open .project-details .created-with h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1.5em;
  padding: 0 1rem;
  text-transform: capitalize;
}

main #projects #project-cards-container .project-card-wrapper .project-details .created-with .lang-container, main #projects #project-cards-container .project-card-wrapper--open .project-details .created-with .lang-container {
  margin-bottom: 1.5rem;
  text-align: center;
}

main #projects #project-cards-container .project-card-wrapper .project-details .created-with .lang-container img, main #projects #project-cards-container .project-card-wrapper--open .project-details .created-with .lang-container img {
  width: 4rem;
}

main #projects #project-cards-container .project-card-wrapper .project-details .created-with .lang-container p, main #projects #project-cards-container .project-card-wrapper--open .project-details .created-with .lang-container p {
  color: #555;
  text-transform: uppercase;
}

main #projects #project-cards-container .project-card-wrapper .project-details .buttons, main #projects #project-cards-container .project-card-wrapper--open .project-details .buttons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

main #projects #project-cards-container .project-card-wrapper .project-details .under-development-banner, main #projects #project-cards-container .project-card-wrapper--open .project-details .under-development-banner {
  background: #ce3434;
  color: #fff;
  font-size: 1rem;
  height: 1.5rem;
  line-height: 1.5rem;
  position: fixed;
  right: -3rem;
  text-align: center;
  top: 4rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 16rem;
}

main #projects #project-cards-container .project-card-wrapper .project-details .development-modal, main #projects #project-cards-container .project-card-wrapper--open .project-details .development-modal {
  background: #fff;
  border: 3px solid #231f20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: calc(100% - 1rem);
  left: calc(30% - 0.5rem);
  padding: 40% 1.25rem 1rem;
  position: fixed;
  top: -300vh;
  visibility: hidden;
  width: 70%;
}

main #projects #project-cards-container .project-card-wrapper .project-details .development-modal p, main #projects #project-cards-container .project-card-wrapper--open .project-details .development-modal p {
  font-weight: 500;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  margin-bottom: 1rem;
  text-align: center;
}

main #projects #project-cards-container .project-card-wrapper .project-details .development-modal p:first-of-type, main #projects #project-cards-container .project-card-wrapper--open .project-details .development-modal p:first-of-type {
  color: #ce3434;
}

main #projects #project-cards-container .project-card-wrapper .project-details .development-modal .button--secondary, main #projects #project-cards-container .project-card-wrapper--open .project-details .development-modal .button--secondary,
main #projects #project-cards-container .project-card-wrapper .project-details .development-modal .button--danger,
main #projects #project-cards-container .project-card-wrapper--open .project-details .development-modal .button--danger {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}

main #projects #project-cards-container .project-card-wrapper--open {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 100%;
}

main #projects #project-cards-container .project-card-wrapper--open .project-card {
  width: 25%;
  overflow: hidden;
}

main #projects #project-cards-container .project-card-wrapper--open .project-card .project-number {
  font-size: 2rem;
}

main #projects #project-cards-container .project-card-wrapper--open .project-card .project-title {
  margin-left: 3rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

main #projects #project-cards-container .project-card-wrapper--open .project-card .project-type {
  opacity: 0;
}

main #projects #project-cards-container #spinner-container {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

@media (min-width: 700px) and (min-height: 980px) {
  main #projects #project-cards-container {
    height: 70vh;
  }
  main #projects #project-cards-container .project-card-wrapper, main #projects #project-cards-container .project-card-wrapper--open {
    height: calc(70vh - 5rem);
  }
}

@media (min-width: 1280px) {
  main #projects #project-cards-container {
    height: 80vh;
  }
  main #projects #project-cards-container .project-card-wrapper, main #projects #project-cards-container .project-card-wrapper--open {
    margin-top: 5vh;
    width: 30%;
  }
}

@media (min-width: 1600px) {
  main #projects #project-cards-container {
    margin-left: 15%;
    width: 70%;
  }
  main #projects #project-cards-container .project-card-wrapper, main #projects #project-cards-container .project-card-wrapper--open {
    width: 40%;
  }
}

main #contact #contact-form {
  margin: 1rem;
  padding: 1rem;
  position: relative;
  width: calc(100% - 2rem);
}

main #contact #contact-form input,
main #contact #contact-form textarea {
  border: 3px solid #231f20;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  width: 100%;
}

main #contact #contact-form input[type='submit'] {
  width: 8rem;
}

main #contact #contact-form textarea {
  height: 12rem;
  resize: none;
}

@media (min-width: 700px) {
  main #contact #contact-form {
    margin-left: 20%;
    width: 60%;
  }
}

@media (min-width: 1400px) {
  main #contact #contact-form {
    margin-left: 30%;
    width: 40%;
  }
}

footer {
  background: #231f20;
  height: 30vh;
  width: 100%;
}

footer p {
  color: #fff;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
  width: 15rem;
}

footer .social-media-links .social-link img {
  -webkit-filter: invert(1);
          filter: invert(1);
}
/*# sourceMappingURL=index.css.map */